{% extends 'base.html' %}

{% block main %}
    {% for create_time, posts in archives_info.items %}
        <div class="panel panel-info">
            <div class="panel-heading">{{ create_time }}</div>
            <div class="panel-body">
                {% for post in posts %}
                <ul>
                    <li>
                        <a href="{{ post.get_absolute_url }}">
                            <h5>{{ post.title }}  ({{ post.category.name }})</h5>
                        </a>
                    </li>
                </ul>
                {% empty %}
                未发表文章
                {% endfor %}
            </div>
        </div>
    {% empty %}
      暂无分类！
    {% endfor %}
{% endblock main %}

