{% extends 'base.html' %}
{% load blog_extras %}

{% block container %}
    <aside class="col-md-4">
        {% show_categories %}
    <!--    {% show_recent_posts %}-->
    <!--    {% show_archives %}-->
    <!--    {% show_categories %}-->
    <!--    {% show_tags %}-->
    </aside>
    <main class="col-md-8">
        {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <div class="page-header">
                <h3>
                    <a href="{{ post.get_absolute_url }}">{{ forloop.counter }}. {{post.title}}</a>
                    <p class="text-right">
                        <span class="post-date small">
                            <a href="#">
                                <time class="entry-date" datetime="{{ post.create_time }}">{{ post.create_time.date }}</time>
                            </a>
                        </span>
                        <span class="comments-link small">
                            <a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a>
                        </span>
                        <span class="views-count small">{{ post.views }} 阅读</span>
                    </p>
                </h3>
            </div>
        </article>
        {% empty %}
        {% endfor %}

        <div class="text-center pagination" style="width: 100%">
          <ul>
            {% if page_obj.has_previous %}
              <li><a href="?{{ page_obj.previous_page_number.querystring }}"
                     class="prev">&lsaquo;&lsaquo; </a></li>
            {% else %}
              <li><span class="disabled prev">&lsaquo;&lsaquo; </span></li>
            {% endif %}
            {% for page in page_obj.pages %}
              {% if page %}
                {% ifequal page page_obj.number %}
                  <li class="current"><a href="#">{{ page }}</a></li>
                {% else %}
                  <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
              {% else %}
                ...
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?{{ page_obj.next_page_number.querystring }}" class="next"> &rsaquo;&rsaquo;</a>
              </li>
            {% else %}
              <li><span class="disabled next"> &rsaquo;&rsaquo;</span></li>
            {% endif %}
          </ul>
        </div>
    </main>
{% endblock container %}

