{% extends 'base.html' %}

{% block main %}
<div class="content" style="">
    <div class="cont 1000">
        <div class="list-item">
            {% for post in post_list %}
            <div class="item">
                <div class="layui-fluid">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 layui-col-md-offset2">
                            <div class="item-cont">
                                <h3>{{ post.title }}<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                                <h5>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="layui-icon layui-icon-note"></i>&nbsp;{{ post.category.name }}
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="layui-icon layui-icon-fire"></i>&nbsp;{{ post.views }}
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="layui-icon layui-icon-reply-fill"></i>&nbsp;{{ post.comment_set.count }}
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="layui-icon layui-icon-date"></i>&nbsp;{{ post.create_time.date }}</h5>
                                <p>{{ post.excerpt }}...</p>
                                <a href="details.html" class="go-icon"></a>
                            </div>
                            <hr class="layui-bg-gray">
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            暂无文章
            {% endfor %}
        </div>

        <div id="pagination" style="text-align: center;"></div>
    </div>
</div>
{% endblock main %}


