{% extends 'base.html' %}
{% load blog_extras %}
{% load static %}

{% block container %}
<link href="{% static 'blog_app/assets/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'blog_app/assets/css/styles.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'blog_app/assets/plugins/codeprettifier/prettify.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'blog_app/assets/plugins/iCheck/skins/minimal/blue.css' %}" type="text/css" rel="stylesheet">

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-profile panel-midnightblue">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<img src="{{ pic_url }}" alt="" class="avatar pull-left" style="margin: 0 20px 20px 0">
						<div class="table-responsive table-userinfo">
							<h3 class="mt0">{{ nick_name }}</h3><table class="table table-condensed">
								<tbody>
									<tr>
										<td>位置</td>
										<td>{{ position }}</td>
									</tr>
									<tr>
										<td>状态</td>
										<td class="success">{{ status }}</td>
									</tr>
									<tr>
										<td>邮箱</td>
										<td><a href="">{{ email }}</a></td>
									</tr>
									<tr>
										<td>知乎</td>
										<td><a href="{{ zhihu }}">哒哒哒大大诚主页</a></td>
									</tr>
									<tr>
										<td>Github</td>
										<td>
											<a href="{{ github }}">
												<i class="fa fa-github" aria-hidden="true"></i>
												daacheng
											</a>
<!--											<a href="#">-->
<!--												<i class="fa fa-weixin" aria-hidden="true"></i>-->
<!--											</a>-->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-6">
						<h3 class="mt0">关于我</h3>
						<p>
							{{ about_me }}
						</p>

					</div>
				</div>
				<hr class="outsider">
			</div>
		</div>
	</div>
</div>

{% endblock container %}


